Events/SimpleHelloWorldWithEDNPublish/SimpleHelloWorldWithEDNPublish/SOA/Schemas/HelloWorld.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/SimpleHelloWorldWithEDNPublish/SimpleHelloWorldWithEDNPublish/HelloWorld"
        xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="name" type="string"/>
                <element name="category" type="string"/>
                <element name="value" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>

    
   
</schema>