Events/SimpleHelloWorldWithEDNPublish/SimpleHelloWorldWithEDNPublish/SOA/Schemas/HelloEvents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="my.org/pr"
        xmlns:pr="my.org/pr"
        xmlns="http://www.w3.org/2001/XMLSchema">

    <element name="HelloEvent" type="pr:helloEventType"/>
     <complexType name="helloEventType">
            <sequence>
                <element name="name" type="string"/>
                <element name="category" type="string"/>
                <element name="value" type="string"/>
                <element name="timestamp" type="dateTime"/>
            </sequence>
        </complexType>
   
</schema>