ServiceBus/InvokeExternalRESTService/InvokeExternalRESTService/Resources/nxsd_Product.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:encoding="US-ASCII">
   <xsd:element name="PRODUCT">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="ID" type="xsd:integer"/>
            <xsd:element name="NAME" type="xsd:string"/>
            <xsd:element name="PRICE" type="xsd:double"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>