SCAComposite/mds-store/soa-infra/apps/WebFormEOL/BO/FRM/V2/form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.amis.nl/edesk/frm/0200" version="020000"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:FRM="http://xmlns.amis.nl/edesk/frm/0200"
        xmlns:ED="http://xmlns.amis.nl/edesk/common">
 <import namespace="http://xmlns.amis.nl/edesk/common"
         schemaLocation="../../../Core/Common/Datatypes.xsd"/>
 <complexType name="AnswerObjectType">
  <sequence>
   <element name="processId" type="ED:ProcessID"/>
   <element name="intakeId" type="ED:IntakeID"/>
   <element name="caseId" type="ED:CaseID" minOccurs="0"/>
   <element name="properties"
            type="FRM:ItemDetailsType" minOccurs="0"/>
   <element name="statusDetails" type="FRM:StatusDetailsType"/>
  </sequence>
 </complexType>
 <complexType final="extension" name="FormObjectType">
  <sequence>
   <element maxOccurs="1" minOccurs="0" name="paymentDetails" nillable="false"
            type="FRM:PaymentDetailsType"/>
   <element maxOccurs="1" minOccurs="0" name="geolocationDetails"
            nillable="false" type="FRM:GeoDetailsType"/>
   <element name="subjectDetails" nillable="false">
    <complexType>
     <choice>
      <element maxOccurs="2" ref="ED:naturalPerson">
      </element>
      <element ref="ED:comporateBody">
      </element>
     </choice>
    </complexType>
   </element>
   <element name="engagedSubjects" minOccurs="0">
    <complexType>
     <sequence>
      <element name="engadgetSubject" maxOccurs="unbounded">
       <complexType>
        <choice>
         <element ref="ED:employee">
         </element>
         <element ref="ED:naturalPerson">
         </element>
         <element ref="ED:comporateBody">          
         </element>
        </choice>
        <attribute name="role" type="FRM:Roles" use="required"/>
       </complexType>
      </element>
     </sequence>
    </complexType>
   </element>
   <element maxOccurs="1" minOccurs="1" name="formDetails" nillable="false"
            type="FRM:FormDetailsType"/>
   <element name="formAttachments" type="FRM:AttachmentDetailsType" minOccurs="0"/>
  </sequence>
 </complexType>
 <complexType name="AttachmentDetailsType">
  <sequence>
   <element name="attachment" maxOccurs="unbounded">
    <complexType>
     <sequence>
      <element name="filename" type="FRM:Filename"/>
     </sequence>
    </complexType>
   </element>
  </sequence>
 </complexType>
 <complexType name="FormDetailsType">
  <sequence>
   <element maxOccurs="unbounded" name="item">
    <complexType>
     <choice>
      <element name="singleType">
       <complexType>
        <sequence>
         <element name="itemname" type="FRM:Itemname"/>
         <element maxOccurs="1" minOccurs="0" name="itemlabel" nillable="false"
                  type="FRM:Itemlabel"/>
         <element name="itemvalue" type="FRM:Itemvalue"/>
        </sequence>
       </complexType>
      </element>
      <element name="multipleType">
       <complexType>
        <sequence>
         <element name="itemname" type="FRM:Itemname"/>
         <element maxOccurs="1" minOccurs="0" name="itemlabel" nillable="false"
                  type="FRM:Itemlabel"/>
         <element maxOccurs="unbounded" name="itemchoice">
          <complexType>
           <simpleContent>
            <extension base="boolean">
             <attribute name="answer" type="FRM:Itemvalue" use="required"/>
            </extension>
           </simpleContent>
          </complexType>
         </element>
        </sequence>
       </complexType>
      </element>
     </choice>
     <attributeGroup ref="FRM:FormItemgroup"/>
    </complexType>
   </element>
  </sequence>
 </complexType>
 <complexType name="GeoDetailsType">
  <sequence>
   <element name="xCoordinate" type="ED:Coordinate"/>
   <element name="yCoordinate" type="ED:Coordinate"/>
  </sequence>
 </complexType>
 <complexType name="ItemDetailsType">
  <sequence>
   <element maxOccurs="unbounded" minOccurs="1" name="item" nillable="false">
    <complexType>
     <sequence>
      <element maxOccurs="1" minOccurs="1" name="itemname" nillable="false"
               type="FRM:Itemname"/>
      <element maxOccurs="1" minOccurs="0" name="itemtype" nillable="false"
               type="FRM:Itemtype"/>
      <element maxOccurs="1" minOccurs="1" name="itemvalue" nillable="true"
               type="FRM:Itemvalue"/>
     </sequence>
    </complexType>
   </element>
  </sequence>
 </complexType>
 <complexType name="PaymentDetailsType">
  <sequence>
   <element name="paymentReference" nillable="false"
            type="FRM:PaymentReference"/>
   <element name="paymentMethod" nillable="false" type="FRM:PaymentMethod"/>
   <element name="totalAmount" nillable="false" type="FRM:Amount"/>
   <element name="transactionDate" nillable="false" type="ED:DateAndTime"/>
   <element name="resultCode" nillable="false" type="FRM:ResultCode"/>
  </sequence>
 </complexType>
 <complexType name="StatusDetailsType">
  <sequence>
   <element name="statusCode" type="FRM:ResultCode"/>
   <element name="statusMessage" type="FRM:StatusMessage"/>
  </sequence>
 </complexType>
 <attributeGroup name="FormItemgroup">
  <attribute name="sequencenumber" type="integer" use="required"/>
  <attribute name="groupname" type="string" use="optional"/>
  <attribute name="groupnumber" type="integer" use="optional"/>
 </attributeGroup>
 <simpleType name="Amount">
  <restriction base="decimal">
   <totalDigits value="10"/>
   <fractionDigits value="2"/>
  </restriction>
 </simpleType>
 <simpleType name="Filename">
  <restriction base="string">
   <minLength value="5"/>
  </restriction>
 </simpleType>
 <simpleType name="PaymentReference">
  <restriction base="string">
   <maxLength value="40"/>
  </restriction>
 </simpleType>
 <simpleType name="PaymentMethod">
  <restriction base="string">
   <enumeration value="ideal"/>
   <enumeration value="mastercard"/>
   <enumeration value="maestro"/>
   <enumeration value="paypal"/>
   <enumeration value="visa"/>
  </restriction>
 </simpleType>
 <simpleType name="ResultCode">
  <restriction base="integer">
   <minInclusive value="1"/>
   <maxInclusive value="99"/>
  </restriction>
 </simpleType>
 <simpleType name="Itemlabel">
  <restriction base="string">
   <maxLength value="255"/>
  </restriction>
 </simpleType>
 <simpleType name="Itemname">
  <restriction base="string">
   <minLength value="1"/>
  </restriction>
 </simpleType>
 <simpleType name="Itemtype">
  <restriction base="string">
   <enumeration value="base64"/>
   <enumeration value="date"/>
   <enumeration value="decimal"/>
   <enumeration value="integer"/>
   <enumeration value="string"/>
  </restriction>
 </simpleType>
 <simpleType name="Itemvalue">
  <restriction base="string"/>
 </simpleType>
 <simpleType name="Roles">
  <restriction base="string">
   <enumeration value="Interested"/>
   <enumeration value="Representative"/>
   <enumeration value="Petitioner"/>
   <enumeration value="Initiator"/>
   <enumeration value="Supervisor"/>
   <enumeration value="Other"/>
  </restriction>
 </simpleType>
 <simpleType name="StatusMessage">
  <restriction base="string">
   <maxLength value="250"/>
  </restriction>
 </simpleType>
</schema>