ServiceBus/RESTfulHRM/RESTfulHRM/Resources/HumanCapitalService.wsdl

<wsdl:definitions name="HumanCapitalService"
                  targetNamespace="http://xmlns.oracle.com/RESTfulHRM/RESTfulHRM/HumanCapitalService"
                  xmlns:tns="http://xmlns.oracle.com/RESTfulHRM/RESTfulHRM/HumanCapitalService"
                  xmlns:inp1="http://TargetNamespace.com/HumanCapitalService_getColleagues_response"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plnk:partnerLinkType name="HumanCapitalService">
    <plnk:role name="HumanCapitalServiceProvider" portType="tns:HumanCapitalService_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://TargetNamespace.com/HumanCapitalService_getColleagues_response"
                  schemaLocation="nxsd_jsonEmployeeList.xsd"/>
    </xsd:schema>
    <schema targetNamespace="http://xmlns.oracle.com/RESTfulHRM/RESTfulHRM/HumanCapitalService"
            elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="getColleagues_params">
        <complexType>
          <sequence>
            <element name="lastname" type="string"/>
            <element name="jobtitle" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getColleagues_inputMessage">
    <wsdl:part name="request" element="tns:getColleagues_params"/>
  </wsdl:message>
  <wsdl:message name="getColleagues_outputMessage">
    <wsdl:part name="reply" element="inp1:Employees"/>
  </wsdl:message>
  <wsdl:portType name="HumanCapitalService_ptt">
    <wsdl:operation name="getColleagues">
      <wsdl:input message="tns:getColleagues_inputMessage"/>
      <wsdl:output message="tns:getColleagues_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HumanCapitalService_ptt-binding" type="tns:HumanCapitalService_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getColleagues">
      <soap:operation soapAction="getColleagues"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>