ServiceBus/MovieSearcher/MovieSearcher/Resources/IMDBRestAPI.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="IMDBRestAPI"
     targetNamespace="http://xmlns.oracle.com/MovieSearcher/MovieSearcher/IMDBRestAPI"
     xmlns:tns="http://xmlns.oracle.com/MovieSearcher/MovieSearcher/IMDBRestAPI"
     xmlns:inp1="http://TargetNamespace.com/IMDBRestAPI_Operation1_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="IMDBRestAPI">
        <plnk:role name="IMDBRestAPIProvider" portType="tns:IMDBRestAPI_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/IMDBRestAPI_Operation1_response" schemaLocation="nxsd_imbdMovieResponse.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/MovieSearcher/MovieSearcher/IMDBRestAPI"
             elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getMovieByTitle_params">
                <complexType>
                    <sequence>
                        <element name="q" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="getMovieByTitle_inputMessage">
        <wsdl:part name="request" element="tns:getMovieByTitle_params"/>
    </wsdl:message>
    <wsdl:message name="getMovieByTitle_outputMessage">
        <wsdl:part name="reply" element="inp1:Movie"/>
    </wsdl:message>
    <wsdl:portType name="IMDBRestAPI_ptt">
        <wsdl:operation name="getMovieByTitle">
            <wsdl:input message="tns:getMovieByTitle_inputMessage"/>
            <wsdl:output message="tns:getMovieByTitle_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IMDBRestAPI_ptt-binding" type="tns:IMDBRestAPI_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMovieByTitle">
            <soap:operation soapAction="getMovieByTitle"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
